---
Language: Cpp
BasedOnStyle: LLVM

BreakBeforeBraces: Allman
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120

AccessModifierOffset: -2
NamespaceIndentation: None
FixNamespaceComments: true

PointerAlignment: Left
ReferenceAlignment: Left

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 2
PackConstructorInitializers: Never

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

AlwaysBreakTemplateDeclarations: Yes
IndentCaseLabels: false

IncludeBlocks: Preserve
SortIncludes: CaseSensitive
